<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqfsoft.servicecenter.product.mapper.ProductMapper">
    <update id="updateProductInfo">
        UPDATE product
        <set>
            <if test="product.id != null">
                id = #{product.id},
            </if>
            <if test="product.productNameEs != null">
                product_name_es = #{product.productNameEs},
            </if>
            <if test="product.productNameZh != null">
                product_name_zh = #{product.productNameZh},
            </if>
            <if test="product.categoryId != null ">
                category_id = #{product.categoryId},
            </if>
            <if test="product.bloqueado != null ">
                bloqueado = #{product.bloqueado},
            </if>
            <if test="product.precio != null">
                precio = #{product.precio},
            </if>
            <if test="product.productImgUrl != null || product.productImgUrl != ''">
                product_img_url = #{product.productImgUrl},
            </if>
            <if test="product.observacion != null ">
                observacion = #{product.observacion},
            </if>
        </set>
        WHERE id = #{findId}
    </update>
</mapper>
